<div class="modal-menu-mobile js-modal-menu-mobile">
  <div class="modal-menu-mobile__background js-close"></div>
  <div class="modal-menu-mobile__container">
    <ul class="modal-menu-mobile__categories-list">
      <li class="modal-menu-mobile__categories-item">
        <a href="/viggas" class="modal-menu-mobile__categories-link js-menu-item">A Viggas</a>
      </li>
      <li class="modal-menu-mobile__categories-item">
        <a href="/products" class="modal-menu-mobile__categories-link">Produtos e Serviços</a>
      </li>
      <li class="modal-menu-mobile__categories-item">
        <a href="/cases" class="modal-menu-mobile__categories-link">Casos</a>
      </li>
      <li class="modal-menu-mobile__categories-item">
        <a href="/#form-contact" class="modal-menu-mobile__categories-link js-menu-item">Contato</a>
      </li>
    </ul>
    <button type="button" class="modal-menu-mobile__close js-close">X</button>
  </div>
</div>