{% layout 'layouts/policies' %}
{% block content %}
    <div class="police-and-terms-of-use container">
        <h1 class="police-and-terms-of-use__title">POLÍTICA DE PROTEÇÃO E PRIVACIDADE DE DADOS DA VIGGAS CO.LAB</h1>
        <div class="police-and-terms-of-use__box">
            <p>Este site é mantido e operado por VIGGAS CO.LAB APRENDIZAGEM PARA TRANSFORMAÇÃO HUMANA E ORGANIZACIONAL LTDA.</p>
            <p>Nós coletamos e utilizamos alguns dados pessoais que pertencem àqueles que utilizam nosso site. Ao fazê-lo, agimos na qualidade de <strong>Controlador</strong> desses dados e estamos sujeitos às disposições da Lei Federal n° 13.709/2018 (Lei Geral de Proteção de Dados Pessoais – LGPD).</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">1. SOBRE A POLÍTICA DE PROTEÇÃO E PRIVACIDADE DE DADOS DA VIGGAS CO.LAB </h2>
            <p><span>1.1. Missão.</span>A VIGGAS CO.LAB tem como missão garanti ao usuário a melhor experiência de segurança e proteção de seus dados garantindo-lhe a privacidade, a intimidade e a liberdade como direito.</p>
            <p><span>1.2. Objetivo.</span>A VIGGAS CO.LAB tem como objetivo, ao coletar e tratar dados pessoais de usuários, empenhar as melhores tecnologias de segurança e educação contra acesso não autorizado, incidentes de segurança e violação de proteção de dados, uso indevido, práticas ilícitas, perda de dados, coleta excessiva, vazamentos, raqueamentos, a fim de que, o(a) usuário(a) desenvolva a confiança na VIGGAS CO.LAB, no ambiente virtual e no seu sistema tecnológico.</p>
            <p><span>1.3. Valores.</span>A VIGGAS CO.LAB adota como valores, a segurança, a empatia, a boa-fé, a ética na técnica, a comunicação eficaz, a escuta ativa, a transparência, o respeito ao consumidor, a informação clara, acessível, de fácil compreensão; a educação e a inclusão digital , além disso, o aprimoramento constante do atendimento aos direitos do(a) usuário(a), o respeito ao consentimento livre e informado, o respeito à decisão do(a) usuário(a), a coleta e tratamento de dados responsável e, por fim, o respeito às determinações legais e constitucionais.</p>
            <p><span>1.4. Medidas Organizacionais de Boas Práticas.</span>A VIGGAS CO.LAB planeja, implementa, executa em relatórios internos e disponíveis, ações que possibilitem a segurança da informação, a proteção de dados, a privacidade e adequado tratamento que garantem ao(à) usuário(a) a segurança, a confiança e a proteção de seus dados e privacidade à luz das orientações recomendadas pela Autoridade Nacional de Proteção de Dados. As medidas utilizadas levam em consideração a natureza dos dados, o contexto e a finalidade do tratamento, os riscos de violação e os padrões atualmente empregados no mercado por empresas semelhantes a VIGGAS CO.LAB. Contudo, o risco ainda está presente e a depender do quanto o (a) usuário (a) adota, também, as medidas de segurança orientadas no “Termo de Uso” da VIGGAS CO.LAB.</p>
            <p><span>1.5. Comunicado de Incidente de Segurança.</span>A VIGGAS CO.LAB comunicará à Autoridade Nacional de Proteção de Dados quaisquer violações à proteção de dados de seus usuários caso ocorra eventual incidente de segurança que possa gerar risco ou dano relevante para qualquer usuário(a).</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">2. QUAIS DADOS SÃO COLETADOS E TRATADOS PELA VIGGAS CO.LAB </h2>
            <p><span>2.1. Dados Coletados e Tratados.</span>A VIGGAS CO.LAB coleta e trata, através da sua Plataforma, os seguintes dados pessoais: Nome do(a) Usuário(a), E-mail, Organização e Telefone. A VIGGAS CO.LAB não coleta e trata dados sensíveis dos(as) usuários(as). Assim, não há coleta de dados sobre origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural.</p>
            <p><span>2.2. Coleta de Dados Não Previstos Expressamente.</span>Eventualmente, outros tipos de dados não previstos expressamente nesta Política de Proteção de Dados e Privacidade poderão ser coletados respeitado o livre consentimento informado do(a) usuário(a), ou, ainda, diante de permissão legal.</p>
            <p><span>2.3. Compartilhamento de Dados Pessoais com Terceiros.</span>A VIGGAS CO.LAB não adota a política de compartilhamento de dados pessoais coletados e tratados de seus(as) usuários(as) com terceiros. Se, porventura, em algum momento, surgir o legítimo interesse da VIGGAS CO.LAB nessa operação terceirizada dos dados pessoais coletados e tratados, adotará as medidas seguras e necessárias para isso e tomará o livre consentimento informado do usuário que terá o direito de recusar-se, salvo determinação regulatório, legal ou para cumprir determinação judicial.</p>
            <p><span>2.4. Finalidade.</span>Os dados pessoais de nome, telefone, e-mail e organização são coletados para manter o(a) usuário(a) vinculado(a) a rede de contatos da VIGGAS CO.LAB para ofertas de produtos, serviços, conteúdo especializado, negócios, newsletter, programa de fidelização, descontos e contratação, bem como, o acesso ao ambiente interno da VIGGAS CO.LAB, caso contrate algum produto; demais dados eventualmente solicitados serão necessários para cumprir exigências regulatórias, tais como: emissão de certificado de participação, emissão de notas fiscais e emissão de contratos.</p>
            <p><span>2.5. Dados de Crianças e Adolescentes.</span>A VIGGAS CO.LAB pode coletar dados de crianças e adolescentes nos momentos e finalidades indicados no item 1 e tem como princípio o respeito ao melhor interesse e em conformidade com as regras pertinentes, sobretudo, com a representação ou assistência de pais ou familiares responsáveis.</p>
            <p><span>2.6. Período de Tratamento.</span>A VIGGAS CO.LAB como controladora e operadora dos dados pessoais garante ao(a) usuário(a) que seus dados pessoais serão tratados para exercer seu legítimo interesse e durará enquanto a VIGGAS CO.LAB e o(a) usuário(a) mantiverem interesses comuns ou enquanto vigorar eventual contrato entre as partes. Uma vez não havendo mais o interesse por parte do(a) usuário(a) ou não mais havendo relação contratual, a VIGGAS CO.LAB, a pedido, garantirá ao(à) usuário(a) a eliminação de seus dados e encerrará o respectivo tratamento, salvo nos casos em que houver a possibilidade ou a necessidade de armazenamento em virtude de disposição legal ou regulatória.</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">3. USO E APLICAÇÃO DO COOKIE PELA VIGGAS CO.LAB </h2>
            <p><span>3.1. Significados de Cookies.</span><i>Cookies</i> são arquivos instalados no dispositivo do(a) usuário(a) que permitem coleta de determinadas informações, inclusive de dados pessoais em algumas situações, visando o atendimento de finalidades diversas.</p>
            <p><span>3.2. Significado de Cookies de Desempenho.</span>Cookies de desempenho possibilitam coletar dados e informações sobre como os usuários utilizam o site, quais páginas visitam com mais frequência naquele site, a ocorrência de erros ou informações sobre o próprio desempenho do site ou da aplicação.</p>
            <p><span>3.3. Significado de Cookies de Funcionalidade.</span>Cookies usados para fornecer os serviços básicos solicitados pelos(as) usuários(as) e possibilitam lembrar preferências do site ou aplicação, com o nome de usuário, região ou idioma.</p>
            <p><span>3.4. Significado de Cookies de Publicidade.</span>Cookies utilizados para coletar informações do titular com a finalidade de exibir anúncios a partir da coleta de informações relativas aos hábitos de navegação do(a) usuário(a). Tais cookies permitem a respectiva identificação, a construção do respectivo perfil e a exibição de anúncios personalizados de acordo com os seus interesses.</p>
            <p><span>3.5. Significado de Cookies Temporários.</span>Cookies projetados para coletar e armazenar temporariamente informações enquanto os titulares acessam um site. Costumam ser descartados após o encerramento da sessão, isto é, após o(a) usuário(a) fechar o navegador. São utilizados regularmente para armazenar informações que só são relevantes para a prestação de serviços solicitados pelo(a) usuário(a) ou com finalidade específica temporária.</p>
            <p><span>3.6. Significado de Cookies de Terceiros.</span>Cookies criados por um domínio diferente daquele que o(a) usuário(a) está visitando. Decorrem de funcionalidades de outros domínios que são incorporados a uma página eletrônica.</p>
            <p><span>3.7. Significado de Cookies Necessários.</span>Cookies utilizados para que o site ou aplicação realize funções básicas e opere corretamente.</p>
            <p><span>3.8. Significado de Cookies Não Necessários.</span>Cookies que não se enquadram na definição de cookies necessários e cuja desabilitação não impede o funcionamento do site ou da aplicação ou a utilização dos serviços pelos usuários.</p>
            <p><span>3.9. Significado de Cookies Próprios.</span>Cookies definidos diretamente pelo site ou aplicação que o titular está visitando. Esses tipos de cookies podem incluir informações como credenciais de login, itens do carrinho de compras ou idioma preferido.</p>
            <p><span>3.10. Alcance dos Cookies.</span>Os cookies não permitem que qualquer arquivo ou informação sejam extraídos do disco rígido do(a) usuário(a), não sendo possível, ainda, que, por meio deles, se tenha acesso a informações pessoais que não tenham partido do(a) usuário(a) ou da forma como utiliza os recursos do site.</p>
            <p><span>3.11. Gerenciamento de Cookies.</span>O(a) usuário(a) pode se opor ao registro de cookies pelo site, bastando que desabilite esta opção no seu próprio navegador. Mais informações sobre como fazer isso em alguns dos principais navegadores utilizados podem ser acessadas a partir dos seguintes links:</p>
            <div class="police-and-terms-of-use__table">
                <div class="police-and-terms-of-use__table-item">
                    <a href="https://support.microsoft.com/pt-br/help/17442/windows-internet-explorer-delete-manage-cookies">
                        <div class="police-and-terms-of-use__browser-container-image">
                            <img src="/images/browsers/edge.png" alt="Edge" class="police-and-terms-of-use__browser-image">
                        </div>
                        <span class="police-and-terms-of-use__browser-name">INTERNET EXPLORE</span>
                    </a>
                </div>
                <div class="police-and-terms-of-use__table-item">
                    <a href="https://support.apple.com/pt-br/guide/safari/sfri11471/mac" class="police-and-terms-of-use__browser-image">
                        <div class="police-and-terms-of-use__browser-container-image">
                            <img src="/images/browsers/safari.png" alt="Safari" class="police-and-terms-of-use__browser-image">
                        </div>
                        <span class="police-and-terms-of-use__browser-name">SAFARI</span>
                    </a>
                </div>
                <div class="police-and-terms-of-use__table-item">
                    <a href="https://support.google.com/chrome/answer/95647?hl=pt-BR&hlrm=pt">
                        <div class="police-and-terms-of-use__browser-container-image">
                            <img src="/images/browsers/chrome.png" alt="Google Chrome" class="police-and-terms-of-use__browser-image">
                        </div>
                        <span class="police-and-terms-of-use__browser-name">GOOGLE CHROME</span>
                    </a>
                </div>
                <div class="police-and-terms-of-use__table-item">
                    <a href="https://support.mozilla.org/pt-BR/kb/ative-e-desative-os-cookies-que-os-sites-usam">
                        <div class="police-and-terms-of-use__browser-container-image">
                            <img src="/images/browsers/firefox.png" alt="Firefox" class="police-and-terms-of-use__browser-image">
                        </div>
                        <span class="police-and-terms-of-use__browser-name">MOZILLA FIREFOX</span>
                    </a>
                </div>
                <div class="police-and-terms-of-use__table-item">
                    <a href="https://www.opera.com/help/tutorials/security/privacy/">
                        <div class="police-and-terms-of-use__browser-container-image">
                            <img src="/images/browsers/opera.png" alt="Opera" class="police-and-terms-of-use__browser-image">
                        </div>
                        <span class="police-and-terms-of-use__browser-name">OPERA</span>
                    </a>
                </div>
            </div>
            <p><span>3.12. Desabilitação de Cookies.</span>Ao(À) usuário(a) é garantido o direito de desabilitação de cookies de forma fácil, ágil e amigável. A desabilitação de cookies pode afetar a disponibilidade de algumas ferramentas e funcionalidades do site, comprometendo seu correto e esperado funcionamento. Outra consequência possível é remoção das preferências do(a) usuário(a) que eventualmente tiverem sido salvas, prejudicando sua experiência.</p>
            <p><span>3.13. Cookies utilizados pela VIGGAS CO.LAB.</span>A VIGGAS CO.LAB usa o recurso tecnológico de cookies necessários para o seu funcionamento. Caso o(a) usuário(a) dê seu consentimento, serão utilizados cookies para coletar dados que aprimorem e melhorem a experiência do(a) usuário(a) no Site e a respectiva oferta de produtos, serviços e conteúdo. A VIGGAS CO.LAB concede ao(à) usuário(a) três formas de gerenciamento de cookies em seu Site: (i) aceitar todos os cookies; (ii) rejeitar todos os cookies; e, (iii) gerenciar cookies. Caso o(a) usuário(a) escolha gerenciar cookies, então, terá acesso às informações mais detalhadas sobre os cookies, suas finalidades e o período de retenção das informações, sabendo que os cookies baseados em um desses consentimentos estão desativados por padrão e, portanto, o(a) usuário(a) deverá marcar as opções que entender adequadas para a coleta de seus dados, bem como, poderá exclui-los e desabilitá-los, após o consentimento dado, em qualquer momento de seus interesses.</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">4. DIREITOS E OBRIGAÇÕES DO(A) USUÁRIO(A)</h2>
            <p><span>4.1. Direitos do(a) Usuário(a).</span>(A) usuário(a) desta Política de Proteção e Privacidade de Dados tem os seguintes direitos garantidos pela VIGGAS CO.LAB, a saber: <strong>(i)</strong> ciência e confirmação da existência da coleta e tratamento de dados pessoais; <strong>(ii)</strong> acesso aos dados pelo respectivo titular; <strong>(iii)</strong> correção, modificação, atualização, anonimização, bloqueio, eliminação de dados desnecessários, excessivos ou tratados em desconformidade com a Lei Geral de Proteção de Dados; a exclusão de dados pessoais; <strong>(iv)</strong> portabilidade de dados pessoais a pedido do titular para outro controlador, fornecedor de produto ou serviço mediante requisição expressa e em conformidade com regulamentação da Autoridade Nacional de Proteção d Dados, observados segredos empresariais; <strong>(v)</strong> informação sobre a possibilidade de não fornecer consentimento sobre as consequências negativas; <strong>(vi)</strong> revogação do consentimento; <strong>(vii)</strong> gerenciamento de cookies com autonomia e independência; <strong>(viii)</strong> ter respeitada a sua intimidade, privacidade, vontade, liberdade, decisão, educação e inclusão digital, personalidade e cultura, melhor experiência no acesso a conteúdo, uso de serviços e produtos; acesso à informação clara e compreensível; reclamar e opinar; honra e imagem; reclamar; e, se sentir seguro e confiante.</p>
            <p><span>4.2. Obrigações do(a) Usuário(a).</span>Em caso de perda, furto ou roubo de seus dispositivos eletrônicos, avisar a VIGGAS CO.LAB por um de seus canais de comunicação; ler e compreender os documentos que tratam do “Termo de Uso” e “Política de Proteção e Privacidade de Dados”; em caso de sofrer invasão ilegal e indevida em suas contas de usuário avisar a VIGGAS CO.LAB; criar senhas fortes, usar criptografia; habilite verificação de login e senha em duas etapas; dar o consentimento de coleta e tratamento de dados com entendimento e confiança; dar aceite na contratação de serviços somente depois de ler termos e condições contratadas; em caso de suspeitar de e-mails, troca de senhas, perguntas de segurança, links de acesso para confirmação, confirmação de dados pessoais, não realizar a operação suspeita; fazer backups regularmente; não salve login e senhas no automático; não abra arquivos suspeitos; use internet com conexão segura, além de outras formas de proteção de responsabilidade do(a) usuário(a) e disponíveis no “Termo de Uso”.</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">5. Exercício de Direitos pelo Titular dos Dados pessoais coletados e tratados pela VIGGAS CO.LAB.</h2>
            <p>É garantido ao(à) usuário(a) o exercício de seus direitos como o titular dos dados pessoais através de requisição nos canais disponíveis pela VIGGAS CO.LAB no Site, no “Termo de uso” e nesta “Política de Proteção de Dados e Privacidade da VIGGAS CO.LAB”, mediante envio de comunicação aos seguintes endereços:</p>
            <p><span>DPO</span><a href="mailto:lgpd@viggascolab.com.br">lgpd@viggascolab.com.br</a></p>
            <p><span>VIGGAS CO.LAB</span><a href="mailto:ola@viggascolab.com.br">ola@viggascolab.com.br</a></p>
        </div>

        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">6. Reclamação.</h2>
            <p>A VIGGAS CO.LAB garante aos(às) seus(as) usuários(as) o direito de reclamação à Autoridade Nacional de Proteção de Dados, sem prejuízo de quaisquer outras vias, administrativa ou judicial, a respeito de insatisfações e danos decorrentes de relação com a VIGGAS CO.LAB.</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">7. Alterações Futuras desta Política.</h2>
            <p>A presente versão desta Política de Privacidade foi atualizada pela última vez em <strong>01/05/2021</strong>. A VIGGAS CO.LAB se reserva no direito de modificar a presente “Política de Proteção de Dados e Privacidade” a qualquer momento, garantindo aos usuários o direito de serem notificados das alterações e recusá-las, revogando consentimento de coleta e tratamento de dados segundo “Termo de Uso”.</p>
        </div>
        
        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">8. Vinculação a esta Política.</h2>
            <p>A VIGGAS CO.LAB e os(as) usuários(as) do Site ficam vinculados aos direitos, deveres, regras de conduta dispostas neste “Política de Proteção de Dados e Privacidade”. Os(as) usuários(as) ficam vinculados desde a data da coleta de dados e tratamento até o descadastramento com desabilitação.</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">9. Lei e Foro.</h2>
            <p>Esta “Política de Proteção e Privacidade de Dados” é regida pelas leis da República Federativa do Brasil. Quaisquer dúvidas e situações não previstas neste documento serão primeiramente resolvidas pela VIGGAS CO.LAB e, caso persistam, deverão ser solucionadas pelo Foro da Comarca de São Leopoldo (RS), com exclusão de qualquer outro, por mais privilegiado que seja ou venha a ser.</p>
        </div>

    </div>

{% endblock %}