{% layout 'layouts/policies' %}
{% block content %}
    <div class="police-and-terms-of-use container">
        <h1 class="police-and-terms-of-use__title">“TERMO DE USO” DA VIGGAS CO.LAB</h1>
        <div class="police-and-terms-of-use__box">
            <p><strong>Última Atualização:</strong> 01 de maio de 2021.</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <p>Bem-vindo(a)! Obrigada por utilizar a VIGGAS CO.LAB!</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <p>Esta aplicação e seu conteúdo são controlados e operados pela própria <span>VIGGAS CO.LAB APRENDIZAGEM PARA TRANSFORMAÇÃO HUMANA E ORGANIZACIONAL LTDA. Todos os direitos reservados.</span></p>
        </div>

        <div class="police-and-terms-of-use__box">
            <p>De acordo com a disposição do artigo 41 da Lei Geral de Proteção de Dados, a <strong>VIGGAS CO.LAB</strong> indica a sua Diretora de Operações, como pessoa encarregada pelo tratamento de dados, sendo possível o contato através do seguinte e-mail: <a href="mailto:lgpd@viggascolab.com.br">lgpd@viggascolab.com.br</a>.</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <p>Este “Termo de Uso” tem por objeto definir as regras a serem seguidas para a utilização da VIGGAS CO.LAB, sem prejuízo da aplicação da legislação vigente.</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <strong>AO UTILIZAR A VIGGAS CO.LAB E/OU USAR QUAISQUER PROGRAMAS, APLICATIVOS OU SERVIÇOS DE TITULARIDADE DA VIGGAS CO.LAB, VOCÊ AUTOMATICAMENTE CONCORDA COM ESTE “TERMO DE USO”, RESPONSABILIZANDO-SE INTEGRALMENTE POR TODOS E QUAISQUER ATOS PRATICADOS POR VOCÊ NO SITE OU EM SERVIÇOS A ELE RELACIONADOS. CASO VOCÊ NÃO CONCORDE COM QUAISQUER CLÁUSULAS E CONDIÇÕES ABAIXO ESTABELECIDOS, VOCÊ NÃO DEVE UTILIZAR A NOSSA SOLUÇÃO. VOCÊ TAMBÉM CONCORDA COM OS TERMOS DESCRITOS EM NOSSA POLÍTICA DE PRIVACIDADE.</strong>
        </div>

        <div class="police-and-terms-of-use__box">
            <p>Caso queira nos dar algum feedback sobre a VIGGAS CO.LAB, tenha dúvidas ou precise tratar de qualquer assunto relacionado a este “Termo de Uso”, entre em contato conosco através do e-mail <a href="mailto:lgpd@viggascolab.com.br">lgpd@viggascolab.com.br</a>.</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">1. O QUE É A VIGGAS CO.LAB? </h2>
            <p><span>1.1. Serviços.</span>a VIGGAS CO.LAB desenvolve produtos e serviços que contribuem para a transformação de pessoas e organizações para o impacto positivo. Isso implica em sensibilização, capacitação e articulação para o impacto positivo; desenvolvimento de metodologias e produção de conteúdos sobre empreendedorismo, inovação, negócios e impacto; consultoria e projetos para apoiar a trajetória empreendedora e o desenvolvimento organizacional e mensuração de impacto econômico, social e ambiental de projetos, programas e negócios.</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">2. COMO ACESSO A VIGGAS CO.LAB? </h2>
            <p><span>2.1. Acesso.</span>Para acessar a VIGGAS CO.LAB é necessário efetuar um cadastro em nosso site. Para cadastrar-se, você nos fornecerá informações pessoais do tipo: nome, organização, e-mail e telefone.</p>
            <p><span>2.2. Legítimo interesse.</span>As informações pessoais cedidas no cadastro servem para que a VIGGAS CO.LAB possa mantê-lo(a) vinculado(a) a sua rede de contatos para ofertas de produtos, serviços, conteúdo especializado, negócios, newsletter, programa de fidelização, descontos e contratação, bem como, acessar o ambiente interno da VIGGAS CO.LAB, caso contrate algum produto. O(A) usuário(a) poderá efetuar o respectivo descadastramento a qualquer momento através do site e solicitar a eliminação de seus dados do sistema da VIGGAS CO.LAB.</p>
            <p><span>2.3. Privacidade.</span>A VIGGAS CO.LAB reconhece a necessidade de privacidade dos dados de cada usuário(a) cadastrado(a) em seu sistema e, portanto, dispõe de medidas de segurança tecnológica para tratamento de dados pessoais e navegação segura em seu ambiente.</p>
            <p><span>2.4. Compartilhamento de Dados.</span>A VIGGAS CO.LAB não adota a política de compartilhamento de dados pessoais coletados e tratados de seus(as) usuários(as) com terceiros. Se, porventura, em algum momento, surgir o legítimo interesse da VIGGAS CO.LAB nessa operação terceirizada dos dados pessoais coletados e tratados, adotará as medidas seguras e necessárias para isso e tomará o livre consentimento informado do(a) usuário(a) que terá o direito de recusar-se.</p>
            <p><span>2.5. Período de Tratamento.</span>A VIGGAS CO.LAB passará a ser a controladora e operadora dos dados pessoais coletados no cadastro para exercer seu legítimo interesse. Esse tratamento durará enquanto a VIGGAS CO.LAB e o(a) usuário(a) mantiverem interesses comuns ou enquanto vigorar eventual contrato entre as partes. Uma vez não havendo mais o interesse por parte do(a) usuário(a) ou não mais havendo relação contratual, a VIGGAS CO.LAB, a pedido, eliminará os dados e encerrará o respectivo tratamento.</p>
            <p><span>2.6. Idade de Utilização.</span>Se você tem menos de 18 (dezoito) anos de idade e pretende acessar aos nossos conteúdos será necessária a supervisão dos seus pais ou responsáveis legais, os quais devem ler e concordar expressamente com este “Termo de Uso”, através da seguinte solução técnica: enviar foto do responsável legal, onde deverá aparecer o rosto do responsável segurando a sua carteira de identificação (aparecendo a sua assinatura e o seu rosto no documento) bem como enviar a autorização de uso. Esses dados deverão ser enviados para <a href="mailto:lgpd@viggascolab.com.br">lgpd@viggascolab.com.br</a> para conferência.</p>
            <p><span>2.7. Titularidade.</span>A partir do cadastro, você será titular de uma conta que somente poderá ser acessada por você e, portanto, é o(a) titular dos dados protegidos por Lei e também, responsabilizado por ela.  Caso a VIGGAS CO.LAB detecte alguma conta feita a partir de informações falsas, por usuários(as) que, por exemplo, não possuem a idade mínima permitida e que não tenham enviado a autorização supracitada ou o(a) usuário(a) use identidade falsa e se faça passar por terceira pessoa, essa conta e respectivos dados poderão ser excluídos e avisadas as autoridades competentes.</p>
            <p><span>2.8. Atualização das Informações.</span>Desde já, você se compromete a manter as suas informações pessoais atualizadas. Você também concorda que irá manter o seu login e senha seguros e fora do alcance de terceiros, e não permitirá que a sua conta na VIGGAS CO.LAB seja usada por outras pessoas. Dessa forma, o(a) usuário(a) responsabiliza-se por todas as ações realizadas em sua conta. Você poderá modificar suas informações, atualizá-las, pedir sua eliminação e informações a respeito do seu cadastro, a qualquer momento pelo e-mail <a href="mailto:lgpd@viggas.com.br">lgpd@viggas.com.br</a>.</p>
            <p><span>2.9. Presença de Cookies.</span>A VIGGAS CO.LAB usa o recurso tecnológico de cookies necessários para o seu funcionamento. Caso o(a) usuário(a) dê seu consentimento, serão utilizados cookies para coletar dados que aprimorem e melhorem a experiência do(a) usuário(a) no Site e a respectiva oferta de produtos, serviços e conteúdo. A VIGGAS CO.LAB concede ao(à) usuário(a) três formas de gerenciamento de cookies em seu Site: (i) aceitar todos os cookies; (ii) rejeitar todos os cookies; e, (iii) gerenciar cookies. Caso o(a) usuário(a) escolha gerenciar cookies, então, terá acesso às informações mais detalhadas sobre os cookies, suas finalidades e o período de retenção das informações, sabendo que os cookies baseados em um desses consentimentos estão desativados por padrão e, portanto, o(a) usuário(a) deverá marcar as opções que entender adequadas para a coleta de seus dados, bem como, poderá exclui-los e desabilitá-los, após o consentimento dado, em qualquer momento de seus interesse.</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">3. QUAIS SÃO OS DIREITOS DA VIGGAS CO.LAB SOBRE A APLICAÇÃO?</h2>
            <p><span>3.1. Nossos Direitos.</span>Todos os direitos relativos a VIGGAS CO.LAB e suas funcionalidades são de propriedade exclusiva da VIGGAS CO.LAB, inclusive no que diz respeito aos seus textos, imagens, sons, vozes, layouts, software, códigos, bases de dados, gráficos, artigos, fotografias, identidade de marca, logotipo e demais conteúdos produzidos direta ou indiretamente pela VIGGAS CO.LAB (“Conteúdo da VIGGAS CO.LAB”). O conteúdo da VIGGAS CO.LAB é protegido pelas Leis de Propriedade Intelectual. É proibido usar, copiar, reproduzir, modificar, traduzir, publicar, transmitir, distribuir, executar, fazer o upload, exibir, licenciar, vender ou explorar e fazer engenharia reversa do Conteúdo da VIGGAS CO.LAB, para qualquer finalidade, sem o consentimento prévio e expresso da VIGGAS CO.LAB. Qualquer uso não autorizado do Conteúdo da VIGGAS CO.LAB será considerado como violação de propriedade.</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">4. PROPRIEDADE INTELECTUAL SOBRE O SOFTWARE E OS MATERIAIS DISPONIBILIZADOS</h2>
            <p><span>4.1. Propriedade Intelectual.</span>Para nós da VIGGAS CO.LAB, a qualidade dos materiais disponibilizados ao(à) usuário(a) é de suma importância. A criação deles é fruto de muito trabalho e dedicação de nossos desenvolvedores. Por isso, reafirmamos que a VIGGAS CO.LAB garante que todos os direitos, título e interesse (incluindo, mas não apenas, os direitos autorais, marcários e outros de propriedade intelectual) sobre o serviço disponibilizado por nós permanecerão sob a titularidade da VIGGAS CO.LAB.</p>
            <p><span>4.2. Não-aquisição de Direitos.</span>O(a) usuário(a) não adquirirá nenhum direito de propriedade sobre os serviços e conteúdos da VIGGAS CO.LAB.</p>
            <p><span>4.3. Download de Conteúdo. É proibido que o(a) usuário(a) faça o download de nosso conteúdo com o intuito de armazená-lo em banco de dados para oferecer para terceiro que não seja o(a) próprio(a) usuário(a). Veda-se, também, que o conteúdo disponibilizado por nós seja usado para criar uma base de dados ou um serviço que possa concorrer de qualquer maneira com o nosso negócio. Qualquer material  deverá ser seguido da identidade da VIGGAS CO.LAB para identificar sua propriedade e autoria.</span></p>
        </div>

        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">5. RECLAMAÇÕES SOBRE VIOLAÇÃO DE DIREITO AUTORAL</h2>
            <p><span>5.1. Infringência de Direitos.</span>Alegações de infringência de propriedade intelectual de qualquer conteúdo disponível na VIGGAS CO.LAB devem ser encaminhadas por meio do e-mail <a href="mailto:lgpd@viggascolab.com.br">lgpd@viggascolab.com.br</a>.</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">6. RESPONSABILIDADES DO USUÁRIO E DA VIGGAS CO.LAB</h2>
            <p><span>6.1. Responsabilidade pelo Uso.</span>Você é exclusivamente responsável pelo uso do nosso site e deverá respeitar as regras deste “Termo de Uso”, bem como a legislação aplicável à VIGGAS CO.LAB.</p>
            <p><span>6.2. Responsabilidade do(a) Usuário(a) pelos seus dispositivos eletrônicos e navegação na rede. </span>A VIGGAS CO.LAB não assume obrigações e tampouco poderá ser responsabilizada nas hipóteses em que o(a) usuário(a) sofra acesso indevido de seus dados por terceiros e por culpa exclusiva sua; sofra perda de seus dados; invasão de suas contas e golpes que causem furto de logins e senhas; por coleta excessiva de seus dados, informações e mapeamento de seu perfil. Por conta disso, fica o(a) usuário(a) responsável por usar conexões seguras, ser seletivo ao baixar aplicativos, limitar a coleta de dados por cookies, limpar frequentemente o histórico de navegação, fazer backups, criptografia em seus discos e mídias, bem como, criar senhas fortes, verificação de segurança em duas etapas, fazendo logout de suas contas ao usar equipamentos compartilhados e, por fim, ser responsável por habilitar, em seus dispositivos, configurações de privacidade e segurança nos serviços.</p>
            <p><span>6.3. Responsabilização por Eventuais Danos.</span>a VIGGAS CO.LAB, seu Controlador e Operador, suas afiliadas, parceiras ou funcionários não serão, em hipótese alguma, responsabilizados por danos diretos ou indiretos que resultem de, ou que tenham relação com o acesso a uso ou a incapacidade de acessar ou utilizar a VIGGAS CO.LAB.</p>
            <p><span>6.4. Não-Responsabilização. TENDO EM VISTA AS CARACTERÍSTICAS INERENTES AO AMBIENTE DA INTERNET, A VIGGAS CO.LAB NÃO SE RESPONSABILIZA POR INTERRUPÇÕES OU SUSPENSÕES DE CONEXÃO, TRANSMISSÕES DE COMPUTADOR INCOMPLETAS OU QUE FALHEM, BEM COMO POR FALHA TÉCNICA DE QUALQUER TIPO, INCLUINDO, MAS NÃO SE LIMITANDO, AO MAU FUNCIONAMENTO ELETRÔNICO DE QUALQUER REDE, HARDWARE OU SOFTWARE. A INDISPONIBILIDADE DE ACESSO À INTERNET OU À VIGGAS CO.LAB, ASSIM COMO QUALQUER INFORMAÇÃO INCORRETA OU INCOMPLETA SOBRE A VIGGAS CO.LAB E QUALQUER FALHA HUMANA, TÉCNICA OU DE QUALQUER OUTRO TIPO NO PROCESSAMENTO DAS INFORMAÇÕES DA VIGGAS CO.LAB NÃO SERÃO CONSIDERADAS RESPONSABILIDADE DA VIGGAS CO.LAB. A VIGGAS CO.LAB SE EXIME DE QUALQUER RESPONSABILIDADE PROVENIENTE DE TAIS FATOS E/OU ATOS.</span></p>
            <p><span>6.5. Manutenção.</span> É de sua inteira responsabilidade manter o ambiente de seu dispositivo (computador, celular, tablet, entre outros) seguro, com o uso de ferramentas disponíveis, como antivírus, firewall, entre outras, de modo a contribuir na prevenção de riscos eletrônicos.</p>
            <p><span>6.6. Links Externos.</span> É possível que a VIGGAS CO.LAB possa conter links para sites e aplicativos de terceiros, assim como ter tecnologias integradas. Isso não implica, de maneira alguma, que a VIGGAS CO.LAB endossa, verifica, garante ou possui qualquer ligação com os proprietários desses sites ou aplicativos, não sendo responsável pelo seu conteúdo, precisão, políticas, práticas ou opiniões. A VIGGAS CO.LAB recomenda que você leia outros “Termo de Uso” e “Políticas de Privacidade” de cada site de terceiros ou serviço que o usuário vier a visitar ou utilizar.</p>
        </div>

        <div class="police-and-terms-of-use__box">
            <h2 class="police-and-terms-of-use__subtitle">7. O QUE MAIS EU PRECISO SABER SOBRE ESTE “TERMO DE USO”?</h2>
            <p><span>7.1. Alterações.</span>Para melhorar sua experiência, a VIGGAS CO.LAB está sempre sendo atualizada. Por esse motivo, este “Termo de Uso” pode ser alterado, a qualquer tempo, a fim de refletir os ajustes realizados. No entanto, sempre que ocorrer qualquer modificação, você será previamente informado pelo endereço de e-mail fornecido por você no momento do cadastro ou por um aviso em destaque na aplicação. Caso você não concorde com as respectivas alterações, poderá rejeitá-los, mas, infelizmente, isso significa que você não poderá mais ter acesso e fazer uso da VIGGAS CO.LAB. Se de qualquer maneira você utilizar a VIGGAS CO.LAB mesmo após a alteração, isso significa que <strong>você concorda com todas as modificações</strong>.</p>
            <p><span>7.2. Conflito entre Disposições. Em caso de conflito entre este “Termo de Uso” e as modificações, os termos posteriores prevalecerão com relação a esse conflito.</span></p>
            <p><span>7.3. Lei e Foro.</span>Este “Termo de Uso” é regido pelas leis da República Federativa do Brasil. Quaisquer dúvidas e situações não previstas neste documento serão primeiramente resolvidas pela VIGGAS CO.LAB e, caso persistam, deverão ser solucionadas pelo Foro da Comarca de São Leopoldo (RS), com exclusão de qualquer outro, por mais privilegiado que seja ou venha a ser.</p>
            <p><span>7.4. Dúvidas.</span>Caso você tenha alguma dúvida, comentário ou sugestão, por favor, entrar em contato conosco por meio do e-mail institucional <a href="ola@viggascolab.com.br">ola@viggascolab.com.br</a>.</p>
        </div>
    </div>

{% endblock %}