
<div class="about-believe">
  <div class="container">
    <h2 class="viggas__title">No que acreditamos</h2>
    <div class="about-believe__container">
        <ul class="about-believe__list">
            <li class="about-believe__item">Conhecimento Transdisciplinar</li>
            <li class="about-believe__item">Aprendizagem com Significado</li>
            <li class="about-believe__item">Colaboração</li>
            <li class="about-believe__item">Visão Sistêmica</li>
        </ul>
        <ul class="about-believe__list">
            <li class="about-believe__item">Respeito às Diferenças</li>
            <li class="about-believe__item">Pensar Global, Agir Local</li>
            <li class="about-believe__item">Valorização do Senso Comunitário</li>
            <li class="about-believe__item">Felicidade e Qualidade de Vida</li>
        </ul>
    </div>
  </div>
</div>