<section class="about-us" id="about-us">
    <div class="container">
        <div class="about-us__container">
            <div class="about-us__box">
                <p class="about-us__box-text">
                    A VIGGAS Co.Lab é uma empresa do RS, dinamizadora do impacto socioambiental. Fundada por cinco mulheres, com <em>expertises diferentes</em> - de mercado e acadêmica - e o <strong>desejo comum de mudar</strong> o mundo para melhor.
                </p>
            </div>
            <div class="about-us__info">
                <p class="about-us__info-text">
                    Atuamos por meio de geração e compartilhamento de <strong>conhecimentos</strong>, para o desenvolvimento de Empreendedores e de Negócios que visam a <strong>Inovação</strong> com geração de <strong>Impacto Positivo</strong>.
                </p>
                <div class="about-us__info-button-container">
                    <a href="/viggas" class="about-us__info-button">Conheça mais sobre a Viggas</a>
                </div>
            </div>
        </div>
    </div>
</section>