<div class="about">
  <div class="container">
    <div class="about__mission">
        <span class="about__mission-text">
          Nossa missão
        </span>
        <div class="about__mission-content">
          <span class="about__mission-content-text">Existimos para transformar</span>
          <span class="about__mission-content-text">Pessoas e organizações para</span>
          <span class="about__mission-content-text">O impacto positivo</span>
        </div>
    </div>
    <div class="about__mission-container-image">
      <img src="/images/line.webp" class="about__mission-image" alt="Linha" width="100%" height="100%" loading="lazy">
    </div>
    <div class="about__mission about__mission--down">
      <div class="about__mission-content">
        <span class="about__mission-content-text">Queremos ser referência no desenvolvimento de</span>
        <span class="about__mission-content-text">competências organizacionais para fortalecimento</span>
        <span class="about__mission-content-text">do ecossistema de impacto positivo nacional</span>
      </div>
      <span class="about__mission-text">
        Nossa visão
      </span>
  </div>
  </div>
</div>