<div class="begin">
  <div class="container">
    <div class="begin__box begin__box--products">
      <h2 class="begin__title">O que Fazemos?
        <span>Nossos produtos e Serviços</span>
      </h2>
      <div class="begin__content begin__content--products">
        <div class="begin__text">{{ products[1].text }}</div>
      </div>
    </div>
  </div>
</div>