<div class="how-we-act">
    <div class="container">
        <h1 class="how-we-act__title">Como Atuamos?</h1>
        <div class="how-we-act__container">
            <ul class="how-we-act__list">
                {{ data.text }}
            </ul>
            <div class="how-we-act__alert-container">
                <img src="/images/sirene.webp" class="how-we-act__alert-image" alt="Viggas Colab" width="100%" height="100%" loading="lazy">
                <a href="/products" class="how-we-act__alert-button">Saiba mais sobre nossos produtos e Serviços</a>
            </div>
        </div>

    </div>
</div>