<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css"  media="all" href="/dist/css/global.css">
    <link rel="stylesheet" type="text/css"  media="all" href="/dist/css/style.css">
    <link rel="stylesheet" href="/dist/css/policies.css">
    <title>Viggas Co.Lab</title>
</head>
<body>
    {% include "elements/header" %}
    <main role="main" class="main-content">
        {% block content %} Layout {% endblock %}
    </main>
    {% include "footer" %}
</body>
</html>